@layer components {
  .wrapper {
    position: relative;
  }

  .text {
    font-size: var(--responsive-font-size-7);
    z-index: 1;

    @media (--tablet) {
      font-size: var(--responsive-font-size-10);
    }

    > * {
      opacity: 0;
    }
  }
}
