dd {
  margin-block: var(--spacing-1) var(--spacing-4);
  margin-inline-start: 0;

  & dt + & {
    margin-block-start: 0;
  }
}

dl {
  margin-block-end: var(--spacing-2);
}

dt {
  font-family: var(--font-family-secondary);
  font-size: var(--responsive-font-size-5);
  font-weight: var(--font-weight-bold);
  letter-spacing: 1px;
}
